<!DOCTYPE html>
<html>
<head>
  <title>QKC</title>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="bg-gray-100 font-sans leading-normal tracking-normal">
  <nav class="bg-gray-800 p-4">
    <div class="container mx-auto flex justify-between items-center">
      <div class="text-white font-bold text-lg">QKC</div>
      <ul class="flex space-x-4">
        <li><%= link_to 'Home', root_path, class: 'text-white' %></li>
        <li><%= link_to 'Contact', contact_path, class: 'text-white' %></li>
      </ul>
    </div>
  </nav>

  <div class="container mx-auto mt-8">
    <%= yield %>
  </div>

  <footer class="bg-gray-800 text-white p-4 mt-8">
    <div class="container mx-auto text-center">
      &copy; QKC.
    </div>
  </footer>
</body>
</html>
